@using RF_Go.Models
@using RF_Go.ViewModels
@using System.Diagnostics
@inject MudBlazor.ISnackbar Snackbar

<h3>TV Channel Exclusion Groups</h3>

<div class="filters">
    <!-- Sélecteur pour le pays -->
    <MudSelect T="string" Label="TV Channel" Value="ExclusionChannelViewModel.SelectedCountry" Variant="Variant.Filled" ValueChanged="@(async (string country) => await ApplyCountryFilters(country))">
        <MudSelectItem Value="EightMhz">8Mhz</MudSelectItem>
        <MudSelectItem Value="SevenMhz">7Mhz</MudSelectItem>
        <MudSelectItem Value="SixMhz">6Mhz</MudSelectItem>
    </MudSelect>

    <!-- Barre de recherche -->
    <MudTextField Label="Channel or frequency" @bind-Value="ExclusionChannelViewModel.SearchQuery"
                  Variant="Variant.Filled" Clearable="true" Immediate="true" DebounceInterval="300" OnKeyUp="@(async _ => await ApplyFilters())" />
</div>

<!-- Table des groupes d'exclusion -->
<MudTable Items="@ExclusionChannelViewModel.ExclusionChannels" FixedHeader="true" Height="400px" Hover="true" Dense="true" Bordered="true">
    <HeaderContent>
        <MudTh>TV Channel</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <div class="d-flex align-items-center justify-content-center">

                <MudText Class="d-flex align-self-center">
                    <MudText Color="Color.Tertiary">@context.ChannelNumber</MudText>
                    <MudText Class="pl-2">@context.StartFrequency-@context.EndFrequency</MudText>
                </MudText>
                        <MudCheckBox Value="context.Exclude"
                                     ValueChanged="@(async (bool isChecked) => await ToggleExclusion(context, isChecked))"
                             Class="align-self-center pl-2" Color="Color.Tertiary" />
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="() => DeleteExclusionChannel(context)"
                                       Class="align-self-center" />
            
            </div>
        </MudTd>


    </RowTemplate>
</MudTable>

<h1> Create your own exclusion frequencies </h1>
<MudForm>
    <MudTextField Label="Country" @bind-Value="ExclusionChannelViewModel.SelectedExclusionChannel.Country" />
    <MudTextField Label="Channel" @bind-Value="ExclusionChannelViewModel.SelectedExclusionChannel.ChannelNumber" />
    <MudTextField Label="Start Frequency" @bind-Value="ExclusionChannelViewModel.SelectedExclusionChannel.StartFrequency" />
    <MudTextField Label="End Frequency" @bind-Value="ExclusionChannelViewModel.SelectedExclusionChannel.EndFrequency" />
    <MudCheckBox @bind-Checked="ExclusionChannelViewModel.SelectedExclusionChannel.Exclude" Label="Exclude" />
    <MudButton Color="Color.Primary" OnClick="@(async () => await SaveExclusionChannelAsync())">Save</MudButton>
</MudForm>

@code {
    [Parameter] public ExclusionChannelViewModel ExclusionChannelViewModel { get; set; }
    bool onlyExcluded = false;
    string EightMhz = "Generic-8MHz";
    string SevenMhz = "Generic-7MHz";
    string SixMhz = "Generic-6MHz";

    protected override async Task OnInitializedAsync()
    {
        // Charger les groupes d'exclusion au démarrage
        await ExclusionChannelViewModel.LoadExclusionChannelsAsync();
    }

    private void EditExclusionChannel(ExclusionChannel group)
    {
        ExclusionChannelViewModel.SelectedExclusionChannel = group;
    }

    private async Task DeleteExclusionChannel(ExclusionChannel group)
    {
        ExclusionChannelViewModel.SelectedExclusionChannel = group;
        await ExclusionChannelViewModel.DeleteExclusionChannelAsync();
        Snackbar.Add("Exclusion group deleted successfully.", Severity.Success);
    }

    private async Task SaveExclusionChannelAsync()
    {
        await ExclusionChannelViewModel.SaveExclusionChannelAsync();
        Snackbar.Add("Exclusion group saved successfully.", Severity.Success);
    }

    private async Task ApplyCountryFilters(string country)
    {
        ExclusionChannelViewModel.SelectedCountry = country;
        Debug.Print("Apply filters");
        await ExclusionChannelViewModel.ApplyFilters();
        foreach (var d in ExclusionChannelViewModel.ExclusionChannels)
        {
            Debug.Print(d.ChannelNumber.ToString());
        }
        Debug.Print("Country : " + ExclusionChannelViewModel.SelectedCountry);
    }
    private async Task ApplyFilters()
    {
        Debug.Print("Apply filters");
        await ExclusionChannelViewModel.ApplyFilters();
        foreach (var d in ExclusionChannelViewModel.ExclusionChannels)
        {
            Debug.Print(d.ChannelNumber.ToString());
        }
    }
    private async Task ToggleExclusion(ExclusionChannel channel, bool isExcluded)
    {
        channel.Exclude = isExcluded;
        ExclusionChannelViewModel.SelectedExclusionChannel = channel;
        await ExclusionChannelViewModel.SaveExclusionChannelAsync();
        Snackbar.Add($"Channel {channel.ChannelNumber} exclusion status updated.", Severity.Success);
    }

}
